@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* dedication */
#dedication footer{
	margin: 1em;
	text-align: initial;
}

#dedication footer p{
	text-indent: 0;
}

#dedication footer p:first-child{
	text-align: right;
}

#dedication h3{
	margin-top: 2em;
}
/* end dedication */

/* blockquote title */
#chapter-2-1 blockquote{
	font-variant: small-caps;
	text-align: center;
}
/* end blockquote title */
